PORT=3000
NODE_ENV=development

# Database configuration (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=group_backend_db
DB_PORT=5432
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/group_backend_db?schema=public"

# Redis configuration
REDIS_PORT=6379
REDIS_URL="redis://localhost:6379"
